<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beyza.myapplication5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication5">
        <activity
            android:name=".devmzlksyfa"
            android:exported="false" />
        <activity
            android:name=".notogrn"
            android:exported="false" />
        <activity
            android:name=".notekleme"
            android:exported="false" />
        <activity
            android:name=".ogrencikaydetme"
            android:exported="false" />
        <activity
            android:name=".anaekrnogrtmn"
            android:exported="false" />
        <activity
            android:name=".anamenuogrnc"
            android:exported="false" />
        <activity
            android:name=".ogrtmngrs"
            android:exported="false" />
        <activity
            android:name=".grsekrn1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>